<div id="<%= dom_id speech_part %>">
  <p>
    <strong>De:</strong>
    <%= speech_part.de %>
  </p>

  <p>
    <strong>En:</strong>
    <%= speech_part.en %>
  </p>

  <p>
    <strong>Es:</strong>
    <%= speech_part.es %>
  </p>

  <p>
    <strong>Ru:</strong>
    <%= speech_part.ru %>
  </p>

</div>
